header{
    color:maroon;
    text-align: center;
    background-color:pink;
    padding: 10px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0px 0px 15px black;
    position:fixed;
    width: 100%;
}
nav a{
    padding: 5px 15px;
    color:maroon;
    text-decoration: none;
    font-size: 17px;
}
nav a:hover{
    color:white;
    background-color:maroon;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0px 0px 15px black;
    transition: 0.3s;
}
.HOME{
    background-image: url(background.jpg);
    height: 700px;
    background-size: cover;
    padding-top: 25px;
    h1{
        color:maroon;
    }
    h3{
        color:maroon;
    }
    p{
        color:white;
    }
}
.descriptionHOME{
    width: 40%;
    margin-top: 175px;
    margin-left: 75px;
}
.descriptionHOME a{
    background-color:maroon;
    color:white;
    padding: 8px 10px;
    border-radius: 15px 15px 15px 15px;
}
.descriptionHOME a:hover{
    color:palevioletred;
    background-color:pink;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0px 0px 15px black;
    transition: 0.3s;
}
.ABOUT{
    height: 700px;
    background: radial-gradient(circle,rgba(255, 102, 128, 1) 0%, rgba(255, 192, 203, 1) 100%, rgba(255, 255, 255, 1) 100%);
    color:maroon;
    text-align: center;
}
.containerABOUT{
    background-color:pink;
    border-radius: 10px 10px 10px 10px;
    height: 93%;
    width: 50%;
    padding-top: 50px;
    padding: 25px;
    margin-left: 23%;
    p{
        text-align:justify;
    }
}
.containerABOUT img{
    height: 200px;
}
.PROFILE{
    height: 700px;
    text-align: center;
    background: radial-gradient(circle,rgba(255, 102, 128, 1) 0%, rgba(255, 192, 203, 1) 100%, rgba(255, 255, 255, 1) 100%);
}
.cardPROFILE{
    background-color: pink;
    padding: 15px;
    width: 300px;
    margin: auto;
    text-align: center;
}
.imgPROFILE img{
    width: 100%;
}
.medsos{
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 40px;
    padding-top: 5px;
}
.medsos a{
    text-decoration: none;
    padding: 10px 10px;
    font-size: 25px;
}
